{
  "extends": "eslint",

  "env": {
    "browser": true,
    "node": true
  },

  "rules": {
    "quotes": ["error", "single"],
    "space-before-function-paren": ["warn", "always"],
    "no-use-before-define": ["error", { "functions": false }],
    "no-multi-spaces": "off",
    "require-jsdoc": ["warn", {
        "require": {
            "FunctionDeclaration": true,
            "MethodDefinition": false,
            "ClassDeclaration": false,
            "ArrowFunctionExpression": false
        }
    }]
  }
}
