{
  "extends": "eslint",

  "env": {
    "browser": true,
    "node": true
  },

  "rules": {
    "quotes": ["error", "single"],
    "space-before-function-paren": ["warn", "always"],
    "require-jsdoc": ["warn", "always"]
  }
}
